$dark: #000;
$white: #fff;
$light-blue: #add8e6;
$opacity: rgba($white, 0.5);
$opacity-dark: rgba($dark, 0.5);
$transition: all ease-in-out 0.2s;
$box-shadow: 0 0 5px 2px rgba($white ,0.75);
$box-shadow-dark: 0 0 5px 2px rgba($dark ,0.75);
$shadow-inside: inset 0 0 1px $white;
$shadow-inside-dark: inset 0 0 1px $dark;
$radius: 0.5rem;

$font-size-large: 2rem;

body {
    background: $light-blue;
}
.calculatorWrap {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: $opacity;
    max-width: 13vw;
    margin: -70vh auto 0;
    box-shadow: $box-shadow-dark;
    transform: translateY(100vh);
}

.title {
    text-align: center;
    color: $dark;
    font-size: 2rem;
    margin: 0 auto 2rem;
    text-transform: capitalize;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: $radius;
    box-shadow: $box-shadow-dark;

    .digit {
        width: auto;
        list-style: none;
        flex: 0 0 25%;
        border: 0 none;
        box-sizing: border-box;
        border: 1px solid $dark;
        transition: $transition;

        &:hover {
            cursor: pointer;
            background-color: $light-blue;
            transition: $transition;
            box-shadow: $shadow-inside-dark;
        }

        &:active {
            transition: $transition;
            background-color: $opacity-dark;
            box-shadow: $shadow-inside;
        }

        &:not(:first-child),
        &:not(:nth-of-type(5n+5)) {
            border-left: 0;
        }

        &:nth-child(4n+1) {
            border-right: 0;
        }

        &:nth-child(n+6) {
            border-top: 0;
        }

        &:last-of-type {
            border-right: none;
            flex: 0 0 100%;
            border-bottom-right-radius: $radius;
            border-bottom-left-radius: $radius;
        }
    }
    
    .total {
        background: $opacity;
        flex: 0 0 calc(100% - 1rem);
        text-align: left;
        display: flex;
        padding: 0.5rem;
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
        
        .result {
            margin-left: auto;
            text-align: right;
            display: inline-block;
            transition: $transition;
            font-size: $font-size-large;
        }
    }
}